button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  min-width: 160px;
  font-family: $font__bold;
	background: $color__background-button;
	border: none;
	border-radius: 10px;
	color: $color__button;
	line-height: 1;
  padding: 1em 1.5em;
  @include font-smooth;
  -webkit-appearance: none;
  transition: all .2s ease-in-out;

	&:hover {
    transform: scale(1.1);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
  }

  @include respond-to(x-small) {
    @include font-size(1.1);
  }
  @include respond-to(large) {
    @include font-size(.9);
  }
}

.btn {
  display: inline-block;
  min-width: 160px;
  text-align: center;
  font-family: $font__bold;
	background: $color__background-button;
  color: $color__button;
  border-radius: 10px;
  text-decoration: none;
	line-height: 1;
  padding: 1em 1.5em;
  @include font-smooth;
  -webkit-appearance: none;
  transition: all .2s ease-in-out;

	&:hover {
    transform: scale(1.1);
    color: $color__button;
  }

  &:visited {
    color: $color__button;
  }

	&:active,
	&:focus {
    border-color: $color__border-button-focus;
    color: $color__button;
  }

  @include respond-to(x-small) {
    @include font-size(1.1);
  }
  @include respond-to(large) {
    @include font-size(.9);
  }
}