button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  // width: 115px;
  // height: 35px;
  font-family: $font__bold;
	background: $color__background-button;
	border: none;
	border-radius: 10px;
	color: $color__button;
	// @include font-size(0.75);
	line-height: 1;
  padding: .8em 1.5em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
  }
}