.orange-header {
  color: #fa4515 !important;
}
.teal-header {
  color: #1cbcaf !important;
}
.yellow-header {
  color: #eba904 !important;
}

.dark-letter-span {
  color:#39291d !important;
}

.orange-letter-span {
  color:#fa4515 !important;
}