h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1, h2, h3 {
	font-weight: normal;
  font-family: $font__bold;
  margin-top: 0;
  padding: 0;
}

h1, h2 {
	line-height: 1.25;
}

h1, .h1, .entry-title {
	font-size: 1.5em;
	line-height: 1.25;

	@include respond-to(large) {
		font-size: 1.625em;
	}
}

h2, .h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.125em;
	line-height: 1.375;
}

h2.section-title {
  margin-bottom: 1.563rem;
  font-size: 2rem;
  font-family: $font__black;
  text-transform: uppercase;
}

.page-title, .entry-title {
	margin: 0;
	padding: 0;
}

.entry-title {
	// color: $color__brand-2;
}
