.home {

  section.home-video-carousel {
    @include padding-left-right;
    @include section-padding;

    h2 {
      text-transform: uppercase;
      font-family: $font__black;
      font-size: 2rem;
    }

    .button-wrapper {
      text-align: center;
    }
  }

  .home-video-wrapper {
    // position: relative;
  }
  .video-carousel {
    // padding-left: 2em;
    // padding-right: 2em;
    // padding-bottom: 2em;
    height: 100%;

    .cell {
      width: 100%;
      height: auto;
      margin-left: 20px;

      span {
        display: block;
      }

      .title {
        padding: 1em 0;
        font-family: $font__bold;
      }
    }

    // .flickity-viewport {
    //   max-width: 1000px;
    //   margin-left: auto;
    //   margin-right: auto;
    // }

    // Custom Flickity Styles

    /* big buttons, no circle */
    .flickity-prev-next-button {
      width: 13px;
      height: 24px;
      background: transparent;
      overflow: hidden;
      display: none; // display at larger size

      @include respond-to(x-small) {
        display: block;
      }
    }
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: $color__brand-1;
    }
    .flickity-prev-next-button.no-svg {
      color: $color__brand-1;
    }

    @include respond-to(x-small) {
      padding-left: 3em;
      padding-right: 3em;
    }

    @include respond-to(medium) {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
}