.page-template-page-flexible-content.page-id-13 {
  #primary {
    display: none;
  }

  #colophon {
    // border-top: 1px solid #ededed;
  }

  section.whats-new {
    @include section-padding;
    @include max-width(700px);

    h2 {
      color: $color__brand-2;
    }

    .inner-wrapper {
      margin-bottom: 4em;

      button {
        margin-top: 2em;
      }
    }
  }
}