// current-page-item styles for bracket

.current_page_item,
.current-menu-item,
.current_page_ancestor,
.current-menu-ancestor {
  position: relative;
  display: flex;
  align-items: center;
  // padding: 0 !important;
  // @include test(blue);

  &:before,
  &:after {
    // position: absolute;
    font-family: $font__main;
    color: $color__brand-4;
    font-size: 1.5em;
    // z-index: 9999;
  }

  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }

  .sub-menu {
     top: 92%;

     @include respond-to(medium) {
       top: 93%;
     }
     @include respond-to(large) {
      //  top: 102%;
     }

     .current_page_item,
     .current-menu-item,
     .current_page_ancestor,
     .current-menu-ancestor {
       padding: 1em;
     }
  }
}

.current_page_item > a,
.current-menu-item > a,
.current_page_ancestor > a,
.current-menu-ancestor > a {
  color: $color__brand-1;
  position: relative;
  padding: 0 .5em;
}