.main-nav {
  display: none;
  width: 100%;
  // @include test(green);


  .menu-primary-menu-container {

    // margin-bottom: -0px;
    margin-left: auto;

    position: relative;
    z-index: 999999;
    // padding-right: 5px;
    // padding: 1em 0;

    ul {
      display: flex;
      align-items: center;
      // justify-content: stretch;
      list-style: none;
      margin: 0;
      // padding-left: 0;
      // margin-right: 5px;

      ul {
        // flex: 0 0 100%;
        background-color: $color__brand-1;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
        // float: left;
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;

        li {
          background-color: $color__brand-1;
          margin: 0;
          flex: 0 0 auto;

          &:hover,
          &.focus {
            left: 0;
            background-color: darken($color__brand-1, 5%);
          }

          a {
            padding-top: 1em;
            color: #fff;
          }
        }

        ul {
          left: -999em;
          top: 0;
          // margin-left: 0;
        }

        a {
          width: 200px;

          &:hover {
            color: $color__brand-4;
          }
        }
      }

      li:hover > ul,
      li.focus > ul {
        left: 0;
      }
    }

    li {
      position: relative;
      // margin: 0 1em;
      padding: 1em;
      // @include test(red);

      &:hover > a,
      &.focus > a {
      }
    }

    a {
      display: block;
      text-decoration: none;
      // padding: 0 1em;
      color: $color__brand-4;
      font-family: $font__bold;

      &:hover {
        color: $color__link-hover;
      }
    }

    .current_page_item,
    .current-menu-item,
    .current_page_ancestor,
    .current-menu-ancestor {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 !important;
      // @include test(blue);

      &:before,
      &:after {
        // position: absolute;
        font-family: $font__main;
        color: $color__brand-4;
        font-size: 1.5em;
        z-index: 9999;
      }

      &:before {
        content: '[';
      }
      &:after {
        content: ']';
      }
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
      color: $color__brand-1;
      position: relative;
      padding: 0 .5em;
      // @include test(red);
    }

    .sub-menu {

      .current_page_item > a,
      .current-menu-item > a,
      .current_page_ancestor > a,
      .current-menu-ancestor > a {
        color: #fff;
        position: relative;

        &:before,
        &:after {
          position: absolute;
        }

        &:before {
          content: '';
          top: 0;
          left: 0;
        }
        &:after {
          content: '';
          bottom: 0;
          right: 0;

          @include respond-to(large) {
            bottom: 0;
          }
        }

        &:hover {
          color: $color__brand-4;
        }
      }
    }

    .shop-link {
      position: relative;

      &:before {
        content:'';
        display: block;
        position: absolute;
        z-index: -1;
        top: 8px;
        left: 8px;
        background: url(/wp-content/themes/promo_box_club/imgs/icon-shop-link.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        width: 50px;
        height: 33px;
      }

      a {
        padding: 0;
        position: relative;
        z-index: 50;
      }
    }
  }

  @include respond-to(small) {
    display: inline-flex;

    .menu-primary-menu-container {
      // display: block;
      // float: right;

      ul {

        li {

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  @include respond-to(medium) {

    .menu-primary-menu-container {

      ul {
        li {
          margin: 0 1em;
        }
      }
    }
  }

  @include respond-to(large) {
    .menu-primary-menu-container {
      padding-right: 8px;

      .shop-link {
        &:before {
          // top: -10px;
          // left: -10px;
          width: 62px;
          height: 45px;
        }
      }
    }
  }
  @include respond-to(x-large) {
    .menu-primary-menu-container {
      ul {

        li {
          margin: 0 2em;
        }
      }
    }
  }
}

#menu-toggle.open {
  display: none; // REMOVE!!!!!

  #nav-icon span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }

  #nav-icon span:nth-child(2) {
    top: 18px;
    transform: rotate(-135deg);
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
