.page-template-page-flexible-content {

  @import 'orange-section';
  @import 'custom-editor-section';

  @include respond-to(small) {
    .flex-container {
      display: flex;
      justify-content: space-between;
      @include max-width($max_width);
    }

    .entry-header {
      flex: 0 1 30%;
    }

    .entry-content {
      flex: 0 1 70%;
      margin: 0 0 0 2em;
    }
  }

  @include respond-to(medium) {
    .entry-header {
      padding-right: 3em;
    }

    .entry-content {
      margin: 0;
    }
  }
}