.orange-section {
  @include section-padding;
  background-color: $color__brand-1;
  text-align: center;
  font-family: $font__bold;

  .wrapper {
    @include max-width($max_width);
  }

  h2 {
    color:#fff;
  }

  a {
    color: #fff;
  }
}