.orange-section {
  @include section-padding;
  background-color: $color__brand-1;
  text-align: center;
  font-family: $font__bold;

  h2 {
    color:#fff;
    font-family: $font__bold;
    @include font-smooth;
    text-transform: none;
  }

  a {
    color: #fff;
  }
}